   
    .order{
        background-color: lightblue;
        padding: 10px;
        margin: 10px;
        display: flex;
       justify-content: space-around;
    }
    .order div{
        height: 200px;
    }

    .order1{
        order: 3;
        background-color: darkred;
        width: 250px;
    }
    .order2{
        order: 4;
        background-color: green;
        width: 250px;
    }
    .order3{
        order: 2;
        background-color: darksalmon;
        width: 250px;
    }
    .order4{
        order: 1;
        background-color: darkcyan;
        width: 250px;
    }