*{
    margin: 0;
    padding: 0;
}


.img2{
    filter: none;
    filter: blur(3px); 
    filter: saturate(50%);
    filter: grayscale(45%);
    filter: brightness(45%);
    filter: contrast(20% );
    }

    .img3{
        filter: blur(4px); 
        filter: brightness(40%); 
        filter: drop-shadow(30%);
        filter: hue-rotate(50%);
        filter: grayscale(45%); 
        filter: sepia(40%);
        }
      