body{
    margin: 0px;
    padding: 0px;
}
div{
    background-color: rosybrown;
    display: inline;
}
ul{
    
    display: inline;
    display: list-item;
    margin-left: 50px;
}
li{
    border: 1px dashed green;
    display: inline;
}
span{
    background-color: brown;
    display: block;
}
a{
    color: palevioletred;
   
}
