.list-style_ul{
    list-style: none inside url(https://picsum.photos/seed/picsum/20);
}
.list-style_ol{
    list-style: none outside url(https://picsum.photos/20/?blur);
}
.box{
    background-color:skyblue;
    height: 300px;
    width: 300px;
    box-shadow: 2px 2px 5px 10px red,2px 2px 5px 20px black;
}
.shadow{
    background-color: white;
    height: 250px;
    width: 250px;
    box-shadow: 2px 2px 6px 10px blue;
}
.min_width{
    background-color: darkgrey;
    min-width: 40px;
    max-width: 80px;
}
.height{
    background-color:navajowhite;
    min-height: 70px;
    max-height: 80px;

}